db.sqlite3
*.pyc
.idea
.coverage
.vagrant
ve
ve/*
.DS_Store
*.pyc
**/*.pyc
venv
venv/*
env
env/*
envv/*
envv
*.pyc
**/*.pyc
sent_emails
sent_emails/*
*.rdb
dump.*
media/
media/*
myvenv
myvenv/
myvenv/*
myenv
myenv/
myenv/*
*.egg-info/
.installed.cfg
*.egg